{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Auctions | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel="stylesheet">
        <link href="{% static 'auctions/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class=".container-lg">


            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand" href="#"><h2>Auctions</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Active Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add-listing' %}">Add Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category-list' %}">Category</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'closed-listing' %}">Closed Listing</a>
                            </li>                        
                            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'show-watchlist' %}">Watchlist <span class="badge badge-dark">
                                    {% if watchlist_item_count %}
                                        {{watchlist_item_count}}
                                    {% else %}
                                        0
                                    {% endif %} </span></a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="my-2 my-lg-0">
                        <ul class="navbar-nav ml-auto">
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{user.username|title}}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
                                        <a class="dropdown-item" href="{% url 'my-listing' %}">My listings</a>
                                        <a class="dropdown-item" href="{% url 'win-list' %}">My winning</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                
            </nav>
            {% block body %}
            {% endblock %}        
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block js %}
        
        {% endblock js %}
    </body>
</html>
