{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}Listing Item{% endblock title %}
{% block body %}

    <div class="container">
		<div class="card">
			<div class="container-fliud">
                {% if message %}
                    <div class="mb-4 mt-2" style="color: red;">{{ message }}</div>
                {% endif %}            
				<div class="wrapper row">
                    
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="" id="pic-1"><img src="{{listing_item.image}}" /></div>
						</div>

						
					</div>
					<div class="details col-md-6">
						<div class="rating">
							<div class="">
								{% if request.user == listing_item.owner %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% if listing_item.close_status == False %}
                                            <button name="closebid" type="submit" class="btn btn-success mb-2">Close Bid</button>
                                        {% endif %}
                                        
                                        <button name="deletebid" type="submit" class="btn btn-danger mb-2">Delete Bid</button>                                
                                    </form>

                                {% else %}
                                {% endif %}
							</div>
						</div>                    
						<h5 class="product-title">{{listing_item.title}}</h5>
						<div class="rating">
							<div class="">
								<span class="fa fa-eye"></span>
                                <span class="review-no">Watchelisted by 
                                    <b class="text-success">
                                        {% if not product_watchlisted %}
                                            0
                                        {% else %}
                                            {{product_watchlisted}}
                                        {% endif %}
                                    </b> 
                                    Person
                                </span>
							</div>
						</div>
                       
						<p class="product-description">{{listing_item.description}}</p>
                        <h6 class="price">Category: <span><a href="{% url 'cat-wise-listing' listing_item.category.id%}">{{listing_item.category}}</a></span></h6>
						<h6 class="price">Starting Price: <span>${{listing_item.starting_bid}}</span></h6>
                        <h6 class="price">Current Bid: <span>${{last_bid_value}}</span></h6>
                        <h6 class="price">Total Bid: <span>{% if bid_number %}
                            {{bid_number}}
                        {% else %}
                            0
                        {% endif %}</span></h6>                        
                        <h6 class="price">Owner: <span>{{listing_item.owner}}</span></h6>
                        <h6 class="price">Created at: <span>{{listing_item.creation_date}}</span></h6>
                        {% if listing_item.close_status == True %}
                            <h6 class="price">Bid Status: <span style="color:red">Closed</span></h6>
                            <h6 class="price">Bid Winner: <span>{{listing_item.winner}}</span></h6>
                        {% endif %}                        
                        {% if user.is_authenticated %}
                            
                                <form class="form-inline" method="POST">
                                {% csrf_token %}
                                {% if listing_item.close_status == False %}
                                    <div class="form-group mr-1 mb-2">
                                        <input type="text" class="form-control" name="bid-amount" placeholder="Bid Amount">
                                    </div>
                                    <button name="bid" type="submit" class="btn btn-info mr-1 mb-2">Submit Bid</button>
                                {% endif %}
                                    {% if user_watchlist_status %}
                                        <button name="addtowatchlist" type="submit" class="btn btn-warning mb-2"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                                    {% else %}
                                        <button name="addtowatchlist" type="submit" class="btn btn-success mb-2"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                    {% endif %}
                                    
                                </form>                            
                            
                            

                        {% else %}
                            Please login to bid or watchlisting this listing. <a href="{% url 'login' %}?next={{request.path}}">Click Here.</a> 
                        {% endif %}

					</div>
				</div>
                          
			</div>
            <hr>

            <div class="col-md-8">
                {% if user.is_authenticated %}
                    <div>
                        Leave a Comment:
                    </div>
                    <div class="pl-2">
                        <form method="POST" >

                            {% csrf_token %}

                            <textarea rows="5" class="form-control" name="comment"></textarea>
                            <br>
                            <div class="d-flex flex-row-reverse">
                                <button name="commentbtn" class="btn btn-success text-white" type="submit" > Submit</button>
                            </div>                              
                        </form>                
                    </div>                
                {% else %}
                    Please login to comment. <a href="{% url 'login' %}?next={{request.path}}">Click Here.</a> 
                {% endif %}

            </div>
            <hr>
            <div class="container-fliud">
                {% for comment in comments %}
              
                        <div class="pl-3">
                            
                            <div id="comment{{comment.id}}" class="comment">
                                <small><strong>{{comment.user|title}}</strong></small><small style="margin-right: 4px;"> ({{comment.comment_date}})</small>
                               
                                <p class="pl-2">{{comment.comment}}</p>
                                <div class="d-flex flex-row-reverse bd-highlight">
                                </div>
                                <hr>
                            </div>
                        
                        </div>
                     
                {% endfor %} 
            </div>            
		</div>        
	</div>

{% endblock %}
